body{
    background-color:#fff;
    margin:0 auto;
    
}

/*HEADER IMAGE BEGINS HERE*/

#header{
    margin:0 auto;
    display:block;
    width:100%;
    height:auto;
    text-align:center;
    background-color:#fff;
    
}

/*COMMENCE NAV STYLE*/

.nav_bar{
    
    width:100%;
    font-size:1em;

}
.nav_bar p{
    text-transform:capitalize;
    font-size:50px;
    margin:0 auto;
    width:18%;
    float:left;
    padding:29px;
}


.initial_ul{
    margin:0 auto;
    width:100%;
    display:inline;
}

li{
    margin:0 auto;
    display:inline;
    width:100%;
    
}

li a{
    margin:0 auto;
    font-size:1em;
    text-transform:capitalize;
    padding:3%;
    text-decoration:none;
}

a{
    
    color:#000;
    line-height:8em;
}

a:hover{
    color:aliceblue;
    background-color:#bccf3d;
    border-radius:.5em;
    transition:background .7s;
    
}

main{
    margin:0 auto;
    height:33em;
    background-image:url(http://i.imgur.com/j8JMxE1.jpg);
    background-repeat:no-repeat;
    background-size:cover;

}

main p{
    margin:0 auto;
    text-align:center;
    font-size:4rem;
    color:#fff;
    text-transform:capitalize;
    transform:translateY(3em)

}
article{
    width:75%;
    margin:0 auto;
    height:auto;
    display:block;
}

#article_pic{
    
    width:60%;
    padding:2%;
    float:left;
    transform:translateY(-2em);
}

#image_text{
    
    font-size:1.5em;
}

#our_adventure{
    
    width:100%;
    text-align:center;
    
}

#slider{
    margin:0 auto;
    text-align:center;
    width:100%;
    background-color:rgb(188, 207, 61);
}
#title{
    margin:0 auto;
    width:100%;
    color:#fff;
    font-size:4rem;
    height:5rem;
    text-align:center;
}
#slider img{
    width:calc(95%/4);
}
#text_slider{
    display:flex;
    background-color:white;
    width:calc(95%4);
    font-size:1em;
    justify-content:space-around;
    width:98%;
    height:6em;
}

.the_daily_meal{
    color:#ffc300;
}

/*footer image*/

footer{
    
    margin:0 auto;
    background-image:url("http://i.imgur.com/PHyE2cT.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    
    
}

#left h3{
    font-family:sans-serif;
    font-size:43px;
    color:#fff;
    padding:3rem 0rem 0rem 3rem;
}
#all_rights{
    color:rgb(255, 195, 0);
    padding-left:3rem;
    font-size:1.2em;
}
#freezers_text span{
    font-family:'Pacifico';
    font-size:1.7em;
    float:right;
    color:#fff;
    transform:translateY(-4em);
    
}
#dusty{
    position:relative;
    float:left;
    display:inline-block;
    width:40%;
} 

#freezers_text{
    position:relative;
    font-size:25px;
    top:5rem;

}