body{
    background-color:#fff;
    margin:0 auto;
    
    
}

/*HEADER IMAGE BEGINS HERE*/

header{
    margin:0 auto;
    display:block;
    width:100%;
    height:auto;
    text-align:center;
    background-color:aliceblue;
    background-image:url(http://i.imgur.com/othQpDL.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    
}

#pac{
    font-family:'pacifico';
}

/*COMMENCE NAV STYLE*/

.nav_bar{
    margin:0 auto;
    width:100%;
    display:inline;
}

.initial_ul{
    margin:0 auto;
    width:100%;
    display:inline;
}
li{
    margin:0 auto;
    display:inline;
    width:100%;
    
}
li a{
    margin:0 auto;
    color:#fff;
    font-size:1em;
    font-weight:600;
    text-transform:capitalize;
    padding:2.77%;
    text-shadow:1px 1px 1px #000;
    text-decoration:none;
}
a{
    
    line-height:8em;
}
a:hover{
    color:aliceblue;
    background-color:#bccf3d;
    border-radius:.5em;
    transition:background .7s;
    

}

/*NAV STYLE ***END****/

#dusty_buns_header_text h1{
    margin:0 auto;
    font-family:'pacifico'
}

h1{
    color:#fff;
    font-size:5em;
}

/*controls height of dusy bun img as it is set to auto*/

#first_paragraph{
    color:#fff;
    font-size:4em;
    margin:0 auto;
    height:5em;
}

/*COMMENCE THE TEXT SECTION UNDER THE HEADER IMAGE*/

h2{
    margin:0 auto;
    width:70%;
    font-size:5rem;
}

#welcome{
    margin:0 auto;
    margin-top:1.1em;
    margin-bottom:1.1em;
    font-size:1.9rem;
    color:#ffc300;
    text-align:center;
    text-transform:capitalize;
}

#welcome span h2{
    font-family:'pacifico';
    font-weight:500;
    font-size:72px;
    
}

#text{
    margin:0 auto;
    font-size:.7em;
    color:#000;
    width:77%;  
}

/*ADDED MARGIN TOP HERE TO BRING DOWN THE WOOD IMAGE, MAY HAVE AN ISSUE WITH THE SUPER-IMPOSED IMAGES*/

.wood_image{
    margin-top:11em;
    width:100%;
    background-image: url(http://i.imgur.com/kytqrrN.jpg);
    position:absolute;
    background-repeat:no-repeat;
    height:58em;
    
}

/*THIS IS WHERE YOU CAN MOVE SECTION ABOVE WOOD IMAGE BACKGROUND WITH TOP ELEMENT BECAUSE OF POSITION RELATIVE SINCE WOOD_IMAGE IS POSITION ABSOLUTE*/
#line{
    color:white;
}
.first_section{
    margin:0 auto;
    width:90%;
    position:relative;
    top:-60px;
}

/*COMMENCE BISTRO IMAGE AND TEXT ARTICLES*/

#image_peace{
    margin:0 auto;
    width:calc(100%/2);
    display:block;
    height:33.4em;
    background-color:#bccf3d;
    float:left;
   
}


#left_bistro_image img{
    width:calc(50&/2);
    display:inline-block;
    float:left;
    height:33.4em;
    
}

#image_peace_text{
    color:#fff;
    margin:0 auto;
    text-align:center;
    font-size:1.3em;
    text-transform:capitalize;
    transform:translateY(-4.1em);
    width:calc(90%/2);
    float:left;
}

.fa-cutlery{
    margin:0 auto;
    color:#fff;
    text-align:center;
    padding:.3em;
    transform:translateY(2.3em);
    width:100%;
    
}

/*SAN FRANCISCO ***END****/

/*COMMENCE FRESNO BISTRO */

#second_section{
    margin:0 auto;
    width:90%;
    position:relative;
   
}

#fresno_pic{
    margin:0 auto;
    width:calc(90%/2);
    display:block;
    height:16.5em;
    position:relative;
    background-color:rgb(255, 195, 0);
    float:left;
    top:-60px;
    
}

#right_bistro_image img{
    width:calc(100&/2);
    display:inline-block;
    float:right;
    height:16.5em;

}

#image_fresno_text{
    color:#fff;
    margin:0 auto;
    text-align:center;
    font-size:1.2em;
    padding:.8em;
    transform:translateY(-5.5em);
    width:calc(90%/2);
    float:left;
    
}

/*FRESNO BISTRO ***END****/

/*COMMENCE SAN FRAN BUS SECTION. LOWER UPPER RIGHT*/

.third_section{
    margin:0 auto;
    width:90%;
    position:relative;
    top:-60px;
}

#sanfran_bus_pic{
    margin:0 auto;
    width:100%;
    height:16.9em;
    display:block;
   
       
}
#sanfran_bus_image img{
    margin:0 auto;
    width:calc(50%/2);
    display:inline-block;
    float:left;
    height:16.9em;


}
#sanfran_bus_text{
    color:#fff;
    margin:0 auto;
    text-align:center;
    font-size:1.1em;
    padding:3rem;
    height:9.9em;
    transform:translateY(-15.5em);
    width:calc(34.3%/2);
    float:right;
    background-color:rgb(255, 195, 0);

}

.sanfran_bus_text{
    color:#fff;
    margin:0 auto;
    text-align:center;
    font-size:1.1em;
    padding:3rem;
    height:9.9em;
    width:calc(50%/2);
    float:right;
    background-color:rgb(255, 195, 0);
    transform:translateX(-4em);

}






/* SAN FRAN BUS SECTION. LOWER UPPER RIGHT ***END***/

/*COMMENCE LOWER RIGHT SECTION*/

/*CHECK HERE TO ENSURE CLASSED "FIRST_SECTION" IS WORKING FOR THE LOWER RIGHT SECTION TOO*/

#top_lower_left{
    display:block;
    margin:0 auto;
    width:90%;
    transform:translateY(-4em);
    
}

#water_tower{
    margin:0 auto;
    width:calc(100%/2);
    height:50%;
    display:block;
    background-color:rgb(255, 195, 0);
    float:left;
    
}

#lower_left_fresno_image img{
    width:calc(96%/2);
    display:inline-block;
    float:right;
    height:16.5em;

}

#schedule_fresno_text{
    color:#fff;
    margin:0 auto;
    text-align:center;
    font-size:1em;
    padding:.8em;
    width:calc(90%/2);
    float:left;
    
}


/*LOWER LEFT SECTION END FRESNO BUS SCHEDULE*/

.lower_left_section{
    
    margin:0 auto;
    height:auto;
    width:50%;
    display:inline;
    float:left;
    position:relative;
    transform:translateY(-4em);
}

#lower_left_pic{
    margin:0 auto;
    width:100%;
    display:block;
    float:left;
    background-color:rgb(255, 195, 0);
    transform:translateX(4em);
    
}

#lower_left_image img{
    margin:0 auto;
    width:47%;
    display:block;
    height:16.9em;
    background-color:rgb(255, 195, 0);
    float:left;

}

/*LEFT LOWER SIDE ***END****/


/*COMMENCE LOWER RIGHT ELEMENT*/



.lower_right_bistro{
    margin:0 auto;
    width:50%;
    position:relative;
    float:right;
    transform:translateY(-62.5%);
}

#lower_right_jeep{
    margin:0 auto;
    width:90%;
    display:block;
    height:33.4em;
    background-color:#bccf3d;
    float:left;
   
}

#lower_right_bistro_image img{
    width:51.2%;
    display:inline-block;
    float:right;
    height:33.4em;
    
}

#lower_right_text{
    color:#fff;
    margin:0 auto;
    text-align:center;
    font-size:1.3em;
    width:calc(97%/2);
    float:right;
}

.numbers{

    color:#525252;
    
}

main{
    width:100%;
    position:absolute;
    margin:0 auto;
    height:70em;
}

.social_media{
    margin:0 auto;
    margin-top:38em;
    position:relative;
    width:calc(70%);
    display:block;
    padding:4%;
    text-align:center;
    background-color:#fff;
    transform:translateY(43em);
}

.one{
    color:rgb(255, 195, 0);
    font-size:1.4em;
    text-align:center;
    display:block;
}
#contact{
    margin:0 auto;
    padding:.8%;
    text-align:center;
    width:calc(100%/3);
    float:left;
}

#follow{
    margin:0 auto;
    text-align:center;
    width:calc(100%/3);
    width:18%;
    display:block;
    float:left;
   
}




/*CHECK YOUR CLASS AND ID*/

#company{
    margin:0 auto;
    padding:0;
    width:calc(100%/3);
    text-align:center;
    float:right;
}
.one i{
    color:grey;
}

.media_text{
    
    margin:0 auto;
    color:grey;
    font-size:.9em;
    font-weight:thin;
}

.media{
    color:grey;
    margin:0 auto;
    display:inline;
    padding:none;
    padding:0;
    text-decoration:none;
}

/*footer image*/

footer{
    margin:0 auto;
    padding:0;
    background-image:url("http://i.imgur.com/PHyE2cT.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
    height:16rem;
    transform:translateY(38rem);
    
}

#left h3{
    font-family:sans-serif;
    font-size:38px;
    color:#fff;
    padding:3rem 0rem 0rem 3rem;
}
#all_rights{
    color:rgb(255, 195, 0);
    padding-left:3rem;
    font-size:1.2em;
}
#freezers_text span{
    font-family:'Pacifico';
    font-size:1.7em;
    float:right;
    color:#fff;
    transform:translateY(-4em);
    
}
#dusty{
    position:relative;
    float:left;
    display:inline-block;
    width:40%;
} 

#freezers_text{
    position:relative;
    font-size:25px;
    top:5rem;

}
